<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#"><img src="/assets/meds.png" style = "width:50px;height: 50px;"></a>
    <a class="navbar-brand" style = "size:20;font-style: bold;">Rodas & Bengalas |</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
       
        <li class="nav-item" onclick="  setTimeout(function(){  $('#dataTable').DataTable({paging:false}); }, 500);
        ">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/utentes']">Utentes</a>
          </li>
          <li class="nav-item" onclick="  setTimeout(function(){  $('#dataTable').DataTable({paging:false}); }, 500);
          ">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/terapeuticas']">Terapêuticas</a>
          </li>
        <li class="nav-item" onclick="  setTimeout(function(){  $('#dataTable').DataTable({paging:false}); }, 500);
        ">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/medicamentos']">Medicamentos</a>
        </li>
       
      </ul>
    </div>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
 